# compose.yaml
# Redis service for stubbing JAIRO Cloud.

services:
  app:
    build:
      context: .
      target: production
    volumes:
      - .:/code
      - /code/.venv
    networks:
      - default

  redis:
    restart: "always"
    image: redis:7.4.1
    ports:
      - "26301:6379"
    deploy:
      resources:
        limits:
          memory: 100m
    networks:
      - default

networks:
  default:
    external: true
    name: weko-group-cache-db_default
