version: "3.2"

services:
  redis:
    restart: "always"
    image: redis
    ports:
      - "6379:6379"
    deploy:
      resources:
        limits:
          memory: 100m
  rabbitmq:
    restart: "always"
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    deploy:
      resources:
        limits:
          memory: 100m
  nginx:
    restart: "always"
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: .
        target: /code
    deploy:
      resources:
        limits:
          memory: 100m