[project]
name = "weko-group-cache-db"
version = "0.1.0"
description = "CLI tool for caching mAP group information on JAIRO Cloud."
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "redis>=7.0.0",
    "requests>=2.32.5",
    "rich-click>=1.9.4",
]

[project.scripts]
wgcd = "weko_group_cache_db.cli:main"

[dependency-groups]
dev = [
    "pytest>=8.4.2",
    "pytest-cov>=7.0.0",
]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]

[tool.coverage.run]
source = ["weko_group_cache_db"]
omit = ["*/__init__.py", "*/tests/*"]
