name: Test Coverage

on:
  push:
    branches: [main, develop]
  pull_request:

permissions:
  pull-requests: write
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install pip & uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Install dependencies
        run: |
          uv sync
          uv pip install .

      - name: Run pytest with coverage
        run: |
          . .venv/bin/activate
          export PYTHONPATH=$(pwd)
          set -o pipefail
          task test:cov --junitxml=pytest.xml | tee pytest-coverage.txt

      - name: Pytest coverage comment
        id: coverage
        continue-on-error: true
        uses: MishaKav/pytest-coverage-comment@main
        with:
            pytest-coverage-path: ./pytest-coverage.txt
            junitxml-path: ./pytest.xml

      - name: Update README
        continue-on-error: true
        run: |
          sed -i '/<!-- Pytest Coverage Comment:Begin -->/,/<!-- Pytest Coverage Comment:End -->/c\<!-- Pytest Coverage Comment:Begin -->\n${{ steps.coverage.outputs.coverageHtml }}\n<!-- Pytest Coverage Comment:End -->' ./README.md

      - name: Commit changes
        continue-on-error: true
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'docs: update coverage badge'
          file_pattern: README.md

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install pip & uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Install dependencies
        run: |
          uv sync
          uv pip install .

      - name: Run ruff lint
        run: |
          . .venv/bin/activate
          task lint
